fastapi==0.115.12
uvicorn==0.34.2
starlette==0.46.2
slowapi==0.1.9
pydantic==2.11.4
pydantic-core==2.33.2
pydantic-extra-types==2.10.4
pydantic-settings==2.9.1
python-multipart==0.0.20
python-dotenv==1.1.0
moviepy==2.1.2
numpy==2.2.5
opencv-python==4.11.0.86
pytesseract==0.3.13
email_validator==2.2.0
decorator==5.2.1
imageio_ffmpeg==0.6.0
imageio==2.37.0
proglog==0.1.12
tqdm==4.67.1