footer {
    width: 100%;
    height: 100px;
    background:#ffffff;
    padding: 0px 0;
    color: #414141;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footerLine {
    background: linear-gradient(-45deg, #FC466B 0%, #3F5EFB 100%);
    width: 100%;
    height:5px;
}

footer p {
    position: relative;
    top: 1.5pc;
}

footer a {
    color: #4b50ae;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px;
    position: relative;
    top: 1.3pc;

}